#container {
  display: flex;
  gap: .9375rem;
  flex-wrap: wrap;
}

.card {
  height: 18.75rem;
  width: 18.75rem;
  background-color: rgb(94, 94, 94);
  border-radius: .9375rem;
  text-align: center;
}